html,body,div,span,object,iframe,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
h1,h2,h3,h4,h5,h5{margin-top:0}
img{border:0;max-width:100%;height:auto}
a{text-decoration:none;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul,ol{margin:0;padding:0}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*
     FILE ARCHIVED ON 01:05:07 Sep 30, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:20:53 Jan 04, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 2.086
  esindex: 0.014
  exclusion.robots.policy: 0.231
  LoadShardBlock: 121.879 (3)
  PetaboxLoader3.datanode: 97.26 (4)
  exclusion.robots: 0.246
  CDXLines.iter: 21.597 (3)
  captures_list: 149.452
  load_resource: 170.523
  PetaboxLoader3.resolve: 139.237
*/